.login {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 100px;
}

.login > img{
    object-fit: contain;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login > button {
    width: 300px;
    background-color: rgb(59, 59, 140);
    color: #eff2f5;
    font-weight: 800;
  }